<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="/tailwind.css"  rel="stylesheet">
    <title>Title</title>
</head>
<body class="bg-gray-100">
<div class="container mx-auto py-8">
  <h1 class="text-3xl font-bold mb-4" >질문 상세 페이지</h1>

  <!-- 질문 정보 -->
  <div class="bg-white shadow-md rounded-md p-4 mb-4">
    <h2 class="text-xl font-bold mb-4">질문 정보</h2>
    <p class="mb-2"><strong>제목:</strong> <span th:text="${question.subject}"></span></p>
<!--    <p class="mb-2"><strong>작성자:</strong> <span th:text="${question.author}"></span></p>-->
    <p><strong>내용:</strong></p>
    <div class="px-4 py-2 border border-gray-300 rounded-md" th:text="${question.content}"></div>
    <p><span th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></span></p>
  </div>

<!--  &lt;!&ndash; 답변 목록 &ndash;&gt;-->
<!--  <div class="bg-white shadow-md rounded-md p-4">-->
<!--    <h2 class="text-xl font-bold mb-4">답변 목록</h2>-->
<!--    <ul>-->
<!--      <li class="bg-gray-200 p-4 mb-2">-->
<!--        <p class="mb-2"><strong>작성자:</strong> <span th:text="${answer.author}"></span></p>-->
<!--        <p><strong>내용:</strong></p>-->
<!--        <div class="px-4 py-2 border border-gray-300 rounded-md" th:text="${answer.content}"></div>-->
<!--      </li>-->
<!--      &lt;!&ndash; 추가적인 답변 목록 &ndash;&gt;-->
<!--    </ul>-->
<!--  </div>-->

  <!-- 답변 작성 폼 -->
  <div class="bg-white shadow-md rounded-md p-4 mt-4">
    <h2 class="text-xl font-bold mb-4">답변 작성</h2>

    <form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="POST">
      <div class="mb-4">
        <label for="author" class="block font-bold mb-2">작성자</label>
        <input type="text" id="author" name="author" class="w-full rounded-md border-gray-300 px-3 py-2" required>
      </div>
      <div class="mb-4">
        <label for="content" class="block font-bold mb-2">내용</label>
        <textarea id="content" name="content" class="w-full rounded-md border-gray-300 px-3 py-2" required></textarea>
      </div>
      <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white rounded-md px-4 py-2">답변등록</button>
    </form>

  </div>
</div>
</body>
</html>