<html layout:decorate="~{layout}">

<div layout:fragment="content" class="container">
    <div class="max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16">
    <h2 class="text-3xl font-bold mb-4">질문등록</h2>
    <form th:action="@{/question/create}" method="POST">
        <div class="mb-4">
            <label for="subject" class="block font-bold mb-2">제목</label>
            <input type="text" id="subject" name="subject" class="w-full rounded-md border-gray-300 px-3 py-2" required>
        </div>
        <div class="mb-4">
            <label for="content" class="block font-bold mb-2">내용</label>
            <textarea id="content" name="content" class="w-full rounded-md border-gray-300 px-3 py-2"
                      required></textarea>
        </div>
        <input type="submit" value="저장하기"
               class="bg-red-400 rounded-lg px-4 py-2 :hover:bg-red-500 active:bg-red-700 focus:outline-none focus:ring focus:ring-red-300">
    </form>
</div>


</html>